#ul_top_menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}
.li_top_menu {
	float: left;
}
.li_top_menu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 1em 1em;
	text-decoration: none;
}
.li_top_menu a:hover {
	background-color: #000085;
}

#top_menu {
	background-color: black;
	width: 100%;
	max-height: auto;
	margin: 0;
	padding: 0;
	border: 0;
}

#lower_top {
	background-color: black;
	margin: 0em;
	padding: 0em;
	border: 0em;
	
	position: relative;
	background-image: url(resources/top_bg1.jpg);
	background-position: center;
	background-size: cover;
}
#face {
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	margin: auto;
	padding-top: 5em;
	padding-bottom: 0.1em;
	padding-right: 0;
	padding-left: 0;

	width: 10%;
	max-height: auto;
}

@supports (-ms-ime-align:auto) {
	#name {
		font-size: 1em;
		text-align: center;
		margin: auto;
		padding: auto;
		padding-bottom: 0.5em;
		color: white;
		text-shadow: 1px 1px 0 black,
		-1px 1px 0 black,
		1px -1px 0 black,
		-1px -1px 0 black,
		0px 1px 0 black,
		0px -1px 0 black,
		-1px 0px 0 black,
		1px 0px 0 black,
		2px 2px 0 black,
		-2px 2px 0 black,
		2px -2px 0 black,
		-2px -2px 0 black,
		0px 2px 0 black,
		0px -2px 0 black,
		-2px 0px 0 black,
		2px 0px 0 black,
		1px 2px 0 black,
		-1px 2px 0 black,
		1px -2px 0 black,
		-1px -2px 0 black,
		2px 1px 0 black,
		-2px 1px 0 black,
		2px -1px 0 black,
		-2px -1px 0 black;
	}
	#page_title {
		font-size: 5em;
		text-align: center;
		margin: auto;
		padding: auto;
		padding-bottom: 0.5em;
		color: white;
		text-shadow: 1px 1px 0 black,
		-1px 1px 0 black,
		1px -1px 0 black,
		-1px -1px 0 black,
		0px 1px 0 black,
		0px -1px 0 black,
		-1px 0px 0 black,
		1px 0px 0 black,
		2px 2px 0 black,
		-2px 2px 0 black,
		2px -2px 0 black,
		-2px -2px 0 black,
		0px 2px 0 black,
		0px -2px 0 black,
		-2px 0px 0 black,
		2px 0px 0 black,
		1px 2px 0 black,
		-1px 2px 0 black,
		1px -2px 0 black,
		-1px -2px 0 black,
		2px 1px 0 black,
		-2px 1px 0 black,
		2px -1px 0 black,
		-2px -1px 0 black,

		3px 1px 0 black,
		-3px 1px 0 black,
		3px -1px 0 black,
		-3px -1px 0 black,
		0px 3px 0 black,
		0px -3px 0 black,
		-1px 3px 0 black,
		1px 3px 0 black,
		2px 3px 0 black,
		-2px 3px 0 black,
		2px -3px 0 black,
		-2px -3px 0 black,
		3px 2px 0 black,
		3px -2px 0 black,
		-3px 0px 0 black,
		3px 0px 0 black,
		3px 2px 0 black,
		-3px -3px 0 black,
		3px 3px 0 black;
	}
}
@media all and (-ms-high-contrast: none) {
	#name {
		font-family: arial;
		font-size: 2em;
		text-align: center;
		margin: auto;
		padding: auto;
		padding-bottom: 1em;
		color: white;
		text-shadow: 1px 1px 0 black,
		-1px 1px 0 black,
		1px -1px 0 black,
		-1px -1px 0 black,
		0px 1px 0 black,
		0px -1px 0 black,
		-1px 0px 0 black,
		1px 0px 0 black,
		2px 2px 0 black,
		-2px 2px 0 black,
		2px -2px 0 black,
		-2px -2px 0 black,
		0px 2px 0 black,
		0px -2px 0 black,
		-2px 0px 0 black,
		2px 0px 0 black,
		1px 2px 0 black,
		-1px 2px 0 black,
		1px -2px 0 black,
		-1px -2px 0 black,
		2px 1px 0 black,
		-2px 1px 0 black,
		2px -1px 0 black,
		-2px -1px 0 black;
	}
	#page_title {
		font-size: 5em;
		text-align: center;
		margin: auto;
		padding: auto;
		padding-bottom: 0.5em;
		color: white;
		text-shadow: 1px 1px 0 black,
		-1px 1px 0 black,
		1px -1px 0 black,
		-1px -1px 0 black,
		0px 1px 0 black,
		0px -1px 0 black,
		-1px 0px 0 black,
		1px 0px 0 black,
		2px 2px 0 black,
		-2px 2px 0 black,
		2px -2px 0 black,
		-2px -2px 0 black,
		0px 2px 0 black,
		0px -2px 0 black,
		-2px 0px 0 black,
		2px 0px 0 black,
		1px 2px 0 black,
		-1px 2px 0 black,
		1px -2px 0 black,
		-1px -2px 0 black,
		2px 1px 0 black,
		-2px 1px 0 black,
		2px -1px 0 black,
		-2px -1px 0 black,

		3px 1px 0 black,
		-3px 1px 0 black,
		3px -1px 0 black,
		-3px -1px 0 black,
		0px 3px 0 black,
		0px -3px 0 black,
		-1px 3px 0 black,
		1px 3px 0 black,
		2px 3px 0 black,
		-2px 3px 0 black,
		2px -3px 0 black,
		-2px -3px 0 black,
		3px 2px 0 black,
		3px -2px 0 black,
		-3px 0px 0 black,
		3px 0px 0 black,
		3px 2px 0 black,
		-3px -3px 0 black,
		3px 3px 0 black;
	}
}
@supports (-webkit-text-stroke-width: 0) {
	#name {
		font-family: arial black;
		font-size: 2em;
		text-align: center;
		margin: auto;
		padding: auto;
		padding-bottom: 1em;
		color: white;
		-webkit-text-stroke-width: 0.06em;
		-webkit-text-stroke-color: #000000;
	}
	#page_title {
		font-family: arial;
		font-size: 5em;
		text-align: center;
		margin: auto;
		padding: auto;
		padding-bottom: 0.5em;
		color: white;
		-webkit-text-stroke-width: 0.03em;
		-webkit-text-stroke-color: #000000;
	}
}

#main_text {
	text-align: justify;
	text-justify: inter-word;
	padding: 1em;
	font-size: 1.5em;
}

#page_dates {
	margin: 0em;
	padding: 0em;
	border: 0em;
	text-align: right;
	background-color: white;
	width: 98%;
	max-height: auto;
}

#footer {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1em;
	width: inherit;
	padding: 2em;
}

.footer_links {
	color: blue;
}
.footer_links:hover {
	color: white;
	cursor: pointer;
}
.inline_code {
    background-color: lightgray;
    font-style: italic;
}
a {
    color: blue;
}
a:hover {
    color: white;
    background-color: #000085;
}